html {
  background-color: #22215b;
}

h1 {
  font-family: "Varela Round", sans-serif;
}

.image {
  width: 100%;
}

.header {
  height: 100px;
}

.logo {
  margin: -25px;
  max-width: 105%;
}

.gradient {
  margin: auto;
  height: 400px;
  width: 850px;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #bbb9ea;
  height: 100px;
}

.sponsorship {
  width: 350px;
  height: 150px;
  background: #22215b;
  position: relative;
  margin: 0 auto;
}

.sponsorship:hover {
  cursor: pointer;
}

div.bottom {
  width: 310px;
  height: 9px;
  background: linear-gradient(135deg, #ff9833, #ff0b63);
  position: absolute;
  bottom: 12px;
  left: 20px;
  border-radius: 5px;
}

div.top {
  width: 260px;
  height: 9px;
  background: linear-gradient(135deg, #ffaa3a, #ff0b63);
  position: absolute;
  bottom: 120px;
  left: 73px;
  border-radius: 5px;
}

div.left {
  width: 9px;
  height: 77px;
  background: linear-gradient(135deg, #ffaa3a, #ff9833);
  position: absolute;
  bottom: 12px;
  left: 20px;
  border-radius: 5px;
}

div.right {
  width: 9px;
  height: 115px;
  background: #ff0b63;
  position: absolute;
  bottom: 12px;
  left: 325px;
  border-radius: 5px;
}

h1.sponsor {
  position: relative;
  font-size: 3rem;
  background: -webkit-linear-gradient(left, #ffaa3a, #ff0b63);
	background: linear-gradient(left, #ffaa3a, #ff0b63);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  left: 60px;
  top: 15px;
}

i.sponsor-icon {
  position: relative;
  font-size: 2rem;
  color: #ffaa3a;
  left: 20px;
  top: 20px;
}
